.uploadContainer,
.filesContainer
{
    float: left;
    width: 100%;
    min-width: 288px;
}

.uploadContainer
{
    max-width: 320px;
    margin-right: 80px;
}

.filesContainer
{
    max-width: 380px;
}

.contentFooter
{
    clear: both;
    padding-top: 20px;
}